<section class="about-section">
    <div class="container">
        <div class="section-title">
            <h4>RESUME</h4>
            <h2>Academic & Professional Career</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="sub-section__title text-center">Experience</h3>
                <div class="career-item__area">
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">Today</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2021</div>
                        <h4>Yotech Ltd, Sylhet</h4>
                        <p class="career-item__inner--desg">Web Designer</p>
                        <p class="career-item__inner--desc">Started my career as a Frontend Designer. This is where I learnt design & development. Worked on a few projects for their clients.</p>
                    </div>
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">2021</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2020</div>
                        <h4>Salah Software Solution, Sylhet</h4>
                        <p class="career-item__inner--desg">Web Developer</p>
                        <p class="career-item__inner--desc">Started my career as a Frontend Designer. This is where I learnt design & development. Worked on a few projects for their clients.</p>
                    </div>
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">2020</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2019</div>
                        <h4>AppifyLab, Sylhet</h4>
                        <p class="career-item__inner--desg">Sr. Frontend Web Developer</p>
                        <p class="career-item__inner--desc">Started my career as a Frontend Designer. This is where I learnt design & development. Worked on a few projects for their clients.</p>
                    </div>
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">2016</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2016</div>
                        <h4>DeviserWeb, Sylhet</h4>
                        <p class="career-item__inner--desg">Jr. Web Designer</p>
                        <p class="career-item__inner--desc">Started my career as a Frontend Designer. This is where I learnt design & development. Worked on a few projects for their clients.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="sub-section__title text-center">Education</h3>
                <div class="career-item__area">
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">2018</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2014</div>
                        <h4>Leading University, Sylhet</h4>
                        <p class="career-item__inner--desg">Computer Science & Engineering (B.Sc)</p>
                    </div>
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">2010</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2012</div>
                        <h4>Madan Mohan College, Sylhet</h4>
                        <p class="career-item__inner--desg">Higher Secondary Certificate (Science)</p>
                    </div>
                    <div class="career-item__inner custom-card">
                        <div class="career-item__inner--line"></div>
                        <div class="career-item__inner--timeline career-item__inner--end">2009</div>
                        <div class="career-item__inner--timeline career-item__inner--start">2008</div>
                        <h4>Sylhet Govt. Pilot High School, Sylhet</h4>
                        <p class="career-item__inner--desg">Secondary Secondary Certificate (Science)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>