<section class="service-section">
    <div class="container">
        <div class="section-title">
            <h4>MY SERVICES</h4>
            <h2>Here Are My Services</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 service-item" *ngFor="let item of services">
                <div class="service-item__inner custom-card">
                    <i>{{item.icon}}</i>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
