<section class="skill-section">
    <div class="container">
        <div class="section-title">
            <h4>TECHNOLOGIES</h4>
            <h2>I Love To Play With</h2>
            <ng-container *ngFor="let intro of introduction | async">
                <a [href]="intro.cv" type="button" class="main-btn" download target="_blank">Get Resume <i class="flaticon-download"></i></a>
            </ng-container>
            <!-- <button class="main-btn">Get Resume <i class="flaticon-download"></i></button> -->
        </div>
        <div class="skill-sets">
            <div class="skill-sets__item custom-card" *ngFor="let item of skills | async">
                <img [src]="item.image" alt="">
                <h3>{{item.name}}</h3>
            </div>
        </div>
    </div>
</section>