<section class="skill-section">
    <div class="container">
        <div class="section-title">
            <h4>TECHNOLOGIES</h4>
            <h2>I Love To Play With</h2>
            <button class="main-btn">Get Resume <i>@</i></button>
        </div>
        <div class="skill-sets">
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-sets__item custom-card">
                <i>∏</i>
                <h3>HTML 5</h3>
            </div>
        </div>
    </div>
</section>