@use '../abstracts/index' as abstract;

html {
    overflow: hidden;
    &.loaded {
        overflow: inherit;
        .loader {
            opacity: 0;
            pointer-events: none;
            z-index: 0;
        }
    }
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    @include abstract.sectionSizing;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
    @include abstract.respond-to('medium') {
        @include abstract.sectionSizing;
    }
}