@use '../../../assets/scss/abstracts/index' as abstract;

.contact {
    &-section {
        height: auto;
    }
    &-info {
        &__item {
            margin-bottom: 1.5em;
        }
        &__inner {
            display: flex;
            align-items: center;
        }
        &__icon {
            i {
                font-size: 1.2em;
            }
        }
        &__details {
            padding-left: 1em;
            h3 {
                margin-bottom: 0.3em;
            }
            a {
                font-size: 0.9em;
            }
        }
    }
    &-form {
        margin-top: 1em;
        form {
            margin-top: -1em;
            .main-btn {
                margin-top: 1em;
                max-width: 100%;
            }
        }
    }
    @include abstract.respond-to('small') {
        &-form {
            form {
                .main-btn {
                    max-width: 14.6875em;
                }
            }
        }
    }
    @include abstract.respond-to('medium') {
        &-info {
            &__icon {
                i {
                    margin-bottom: 0;
                    font-size: 1.5em;
                }
            }
            &__details {
                padding-left: 1.4em;
                h3 {
                    margin-bottom: 0.4em;
                }
                a {
                    font-size: 1em;
                }
            }
        }
    }
}
.error-message {
    font-size: 0.8em;
    color: #fc490b;
    margin-top: 0.3em;
}
.main-btn {
    & + p {
        margin-left: 0;
        margin-top: 0.9em;
        flex: 1;
        text-align: center;
    }
    @include abstract.respond-to('small') {
        & + p {
            margin-left: 15px;
            flex: 0 0 auto;
        }
    }
}