<section class="contact-section">
    <div class="container">
        <div class="section-title">
            <h4>CONTACT</h4>
            <h2>Get In Touch</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 contact-info__item">
                <div class="contact-info__inner custom-card" *ngFor="let intro of introduction | async">
                    <div class="contact-info__icon">
                        <i class="flaticon-phone"></i>
                    </div>
                    <div class="contact-info__details">
                        <h3>Phone</h3>
                        <a [href]="'tel:'+intro.phone">{{intro.phone}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 contact-info__item">
                <div class="contact-info__inner custom-card" *ngFor="let intro of introduction | async">
                    <div class="contact-info__icon">
                        <i class="flaticon-mail"></i>
                    </div>
                    <div class="contact-info__details">
                        <h3>Email</h3>
                        <a [href]="'mailto:'+intro.email">{{intro.email}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <h3 class="sub-section__title">Contact Form</h3>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-field">
                            <input type="text" placeholder="Name*" formControlName="name">
                        </div>
                        <p class="error-message" *ngIf="f.name && f.name.invalid && f.name.touched">Please enter your name!</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-field">
                            <input type="text" placeholder="Phone (with country code)*" formControlName="phone" (keypress)="keyPress($event)">
                        </div>
                        <p class="error-message" *ngIf="f.phone && f.phone.invalid && f.phone.touched">Please enter your valid phone number!</p>
                    </div>
                    <div class="col-12">
                        <div class="input-field">
                            <input type="text" placeholder="Email*" formControlName="email">
                        </div>
                        <p class="error-message" *ngIf="f.email && f.email.invalid && f.email.touched">Please enter your valid email!</p>
                    </div>
                    <div class="col-12">
                        <div class="input-field">
                            <input type="text" placeholder="Subject*" formControlName="subject">
                        </div>
                        <p class="error-message" *ngIf="f.subject && f.subject.invalid && f.subject.touched">Please enter your subject!</p>
                    </div>
                    <div class="col-12">
                        <div class="input-field">
                            <textarea rows="5" placeholder="Message" formControlName="textarea"></textarea>
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center flex-wrap flex-sm-wrap">
                        <button type="submit" class="main-btn" [disabled]="contactForm.invalid">Submit</button>
                        <p class="success-message" *ngIf="isSubmissionSuccessfull">Your submission is successfull & an email has sent.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>