<section class="contact-section">
    <div class="container">
        <div class="section-title">
            <h4>CONTACT</h4>
            <h2>Get In Touch</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 contact-info__item">
                <div class="contact-info__inner custom-card">
                    <div class="contact-info__icon">
                        <i class="flaticon-phone"></i>
                    </div>
                    <div class="contact-info__details">
                        <h3>Phone</h3>
                        <a href="tel:+8801781610033">+8801781610033</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 contact-info__item">
                <div class="contact-info__inner custom-card">
                    <div class="contact-info__icon">
                        <i class="flaticon-mail"></i>
                    </div>
                    <div class="contact-info__details">
                        <h3>Email</h3>
                        <a href="mailto:roypranto445@gmail.com">roypranto445@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <h3 class="sub-section__title">Contact Form</h3>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-field">
                            <input type="text" placeholder="Name*" formControlName="name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-field">
                            <input type="text" placeholder="Email*" formControlName="email">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-field">
                            <input type="text" placeholder="Phone" formControlName="phone">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-field">
                            <textarea rows="5" placeholder="Message" formControlName="textarea"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button type="submit" class="main-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>