@use '../abstracts/index' as abstract;

.main-btn {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #888;
    max-width: 12.6875em;
    width: 100%;
    padding: 0.7em;
    border-radius: 0;
    outline: 0;
    font-size: 1em;
    transition: all 0.3s linear;
    &:hover {
        border-color: abstract.$primaryColor;
        color: abstract.$primaryColor;
    }
    i {
        margin-left: 0.5em;
        margin-right: 0.5em;
        line-height: 1;
        vertical-align: middle;
        font-size: 1em;
    }
    @include abstract.respond-to('small') {
        max-width: 14.6875em;
        padding: 0.9em;
    }
}