$to-575: 575px;
$to-767: 767px;
$to-991: 991px;
$to-1199: 1199px;

@mixin to-575 {
  @media (max-width: #{$to-575}) {
    @content;
  }
}

@mixin to-767 {
  @media (max-width: #{$to-767}) {
    @content;
  }
}

@mixin to-991 {
  @media (max-width: #{$to-991}) {
    @content;
  }
}

@mixin to-1199 {
  @media (max-width: #{$to-1199}) {
    @content;
  }
}