@use '../../../assets/scss/abstracts/index' as abstract;


@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

header {
    // width: 100vw;
    // height: 100vh;
    position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.header-title {
    text-align: center;
    position: relative;
    z-index: 1;
    &__image {
        width: 220px;
        height: 220px;
        margin-bottom: 1.45em;
        position: relative;
        margin-inline: auto;
        // background-image: url(../../../assets/images/intro/me.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        animation: morph 8s ease-in-out infinite 1s;
        box-shadow: inset 0 0 0 5px rgb(255 255 255 / 20%);
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    h1 {
        font-size: 2em;
        margin-bottom: 0.2em;
    }
    p {
        font-size: 1em;
        margin-bottom: 1em;
    }
    @include abstract.respond-to('small') {
        h1 {
            font-size: 2.5em;
        }
        p {
            margin-bottom: 1.2em;
        }
    }
    @include abstract.respond-to('medium') {
        h1 {
            font-size: 3em;
        }
    }
    @include abstract.respond-to('large') {
        h1 {
            font-size: 3.5em;
        }
        p {
            margin-bottom: 1.5em;
        }
    }
}